docopt
ipdb
service_identity==18.1.0
twisted==19.7.0
py-spy
mypy

rdflib==4.2.2
rdflib-jsonld==0.4.0

git+http://github.com/drewp/scales.git@448d59fb491b7631877528e7695a93553bfaaa93#egg=scales
https://github.com/drewp/cyclone/archive/python3.zip
influxdb==5.2.2

cycloneerr
patchablegraph==0.7.0
rdfdb==0.8.0
standardservice==0.4.0
