body {
    width: 8.5in;
    margin: 1in 1in;
font-family: sans-serif;
font-size: 10pt;
}

.card {
    border: 1pt solid black;
    height: 2.472in;
    overflow: hidden;
    width: 4in;

    position: relative;
    float:left;
    margin: 0 0.2in 0.2in 0;

}

.pgbr {  
    clear: both;
    height: 0.5in;
    page-break-after: always;
}

.bc {
    height: 140px;
    left: 0.6in;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.05in;
    overflow: hidden;
    position: absolute;
    top: 0.6in;
    width: 250px;
    z-index: 0;
}

.artist {
    border-color: gray;
    border-style: solid;
    border-width: 0 1pt 1pt 0;
    display: inline;
    font-size: 18pt;
    margin: 0;
    padding: 0 5pt;
}

.album {
    margin: 0;
    padding: 5pt;
    height: 0.6in;
    font-size: 14pt;
    position: relative;
    z-index: 2;
}

.song {
   left: 0.1in;
    position: absolute;
    top: 2.2in;
    font-size: 14pt;
}