:host {
  display: block;
}

:host > #swatch {
  display: inline-block;
}

:host > #swatch > #picker {
  display: block;
  float: left;
  position: absolute;
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  -ms-appearance: button;
  margin: 0;
  padding: 0;
  border: none;
  opacity: 0;
}

:host > #r::shadow > #value {
  background: -webkit-linear-gradient(transparent 91%, red 9%);
  background: -o-linear-gradient(transparent 91%, red 9%);
  background: -moz-linear-gradient(transparent 91%, red 9%);
  background: -ms-linear-gradient(transparent 91%, red 9%);
  background: linear-gradient(transparent 91%, red 9%);
}

:host > #g::shadow > #value {
  background: -webkit-linear-gradient(transparent 91%, green 9%);
  background: -o-linear-gradient(transparent 91%, green 9%);
  background: -moz-linear-gradient(transparent 91%, green 9%);
  background: -ms-linear-gradient(transparent 91%, green 9%);
  background: linear-gradient(transparent 91%, green 9%);
}

:host > #b::shadow > #value {
  background: -webkit-linear-gradient(transparent 91%, blue 9%);
  background: -o-linear-gradient(transparent 91%, blue 9%);
  background: -moz-linear-gradient(transparent 91%, blue 9%);
  background: -ms-linear-gradient(transparent 91%, blue 9%);
  background: linear-gradient(transparent 91%, blue 9%);
}

:host > #a::shadow > #value {
  background: -webkit-linear-gradient(transparent 91%, gray 9%);
  background: -o-linear-gradient(transparent 91%, gray 9%);
  background: -moz-linear-gradient(transparent 91%, gray 9%);
  background: -ms-linear-gradient(transparent 91%, gray 9%);
  background: linear-gradient(transparent 91%, gray 9%);
}