docopt
git+http://github.com/drewp/scales.git@448d59fb491b7631877528e7695a93553bfaaa93#egg=scales
https://github.com/drewp/cyclone/archive/python3.zip
rdflib==4.2.2

cycloneerr
patchablegraph==0.5.0
rdfdb==0.8.0
standardservice==0.3.0
