cryptography
rdflib==4.2.2
rdflib-jsonld==0.3
cyclone
docopt
python-dateutil
w1thermsensor
service_identity
http://abyz.co.uk/rpi/pigpio/pigpio.zip
git+git://github.com/adafruit/Adafruit_Nokia_LCD
RPi.GPIO==0.6.2
influxdb==3.0.0
rpi_ws281x==3.0.4
pyOpenSSL
numpy
pillow
imageio==2.2.0
https://projects.bigasterisk.com/rdfdb/rdfdb-0.3.0.tar.gz
etcd3

