colorlog==2.6.0
crochet==1.5.0
cyclone
docopt
ipdb
rx==1.6.1
service_identity
treq==18.6.0
twisted

rdflib==4.2.2
rdflib_jsonld==0.4.0
git+http://github.com/drewp/FuXi.git@003fb48984e9813808a23ba152798c125718f0e7#egg=FuXi
git+http://github.com/drewp/scales.git@448d59fb491b7631877528e7695a93553bfaaa93#egg=scales

cycloneerr
export_to_influxdb==0.4.0
patchablegraph==0.6.0  # pinned for py2
rdfdb==0.8.0 # pinned for py2
standardservice==0.6.0
