:host {
  display: block;
  vertical-align: top;
  overflow-x: hidden;
  white-space: nowrap;
  cursor: ew-resize;
  position: relative;
}

:host::shadow > #value {
  position: relative;
  background: white;
}

:host::shadow > #content {
  position: absolute;
  top: 0;
}