rdflib==4.2.2
cyclone
https://projects.bigasterisk.com/rdfdb/rdfdb-0.8.0.tar.gz
rdflib-jsonld==0.3
git+http://github.com/drewp/scales.git@448d59fb491b7631877528e7695a93553bfaaa93#egg=scales

cycloneerr
patchablegraph==0.11.0
rdfdb==0.21.0
standardservice==0.6.0

