
:host
  display: flex
  flex-direction: column
  padding: 5px
  background: black
  color: #aaa
  font-family: sans

section
  padding: 5px

.grid
  display: grid
  margin: 8px
  grid-auto-columns: minmax(15em, auto)
  grid-auto-rows: minmax(10em, auto)
  grid-template-rows: 4em

.grid *
  overflow: auto
  padding: 3px

.grid > *
  outline: 1px solid gray

.hd
  font-weight: bold

span.topic
  color: rgb(109, 241, 109)
  font-weight: bold
  font-family: monospace

.graph
  white-space: pre-line
  font-family: monospace