cyclone
mock==1.0.1
Twisted

# upgrading to 1.9.5 makes it stop working with pulseaudio
# (maybe this unversioned one picks the system package which
# has a better SDL build)
pygame

standardservice==0.6.0
