cyclone
docopt
rdflib-jsonld==0.4.0
rdflib==4.2.2
https://projects.bigasterisk.com/rdfdb/rdfdb-0.7.0.tar.gz
https://github.com/drewp/MFRC522-python/archive/877f5568627b5e67d622c08191aae0f4ffd6dd32.zip
git+http://github.com/drewp/scales.git@448d59fb491b7631877528e7695a93553bfaaa93#egg=scales
