<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>laundry pi</title>
    <script src="//bigasterisk.com/lib/angular/angular-1.2.0rc1.min.js"></script>
    <script src="static/gui.js"></script>
  </head>
  <body ng-controller="Ctrl">
    <h1>laundry room pi</h1>
    <div>
      <div>
        current <a href="status">/status</a>
        (as an rdf <a href="graph">graph</a>)
      </div>
      <div><button ng-click="refresh()">refresh</button></div>
      <h2>Inputs</h2>
      <div>motion: {{status.motion}}</div>
      <div>switch1: {{status.switch1}}</div>
      <div>switch2: {{status.switch2}}</div>
      <div>switch3: {{status.switch3}}</div>
      <div>doorClosed: {{status.doorClosed}}</div>
      <h2>Outputs</h2>
      <div>
        orange led: {{status.led}}
        <button ng-click="setLed('on')">on</button>
        <button ng-click="setLed('off')">off</button>
      </div>
      <div>strike: {{status.strike}} <button ng-click="temporaryUnlock()">unlock for 3 seconds</button></div>
      <div>speaker: <button ng-click="beep()">beep</button> {{speakerStatus}}</div>
    </div>
    <h2>Raw status</h2>
    <div>{{status | json}}</div>
  </body>
</html>
